@import 'styles/colors.scss';
@import 'styles/mixin.scss';

.ClubTag {
  display: inline-block;
  background-color: $purple_3;
  color: white;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  margin: 2px 0;

  @include mobile {
    font-size: 8px;
  }
}