@import 'styles/mixin.scss';

.PersonList {
  width: 1660px;
  margin: 0 auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  justify-items: center;

  @include mobile {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
}